{% extends 'index.html' %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
{% block tituloPagina %}Rede Credenciada - {% endblock %}

{% block conteudo %}
	<h3>Redes Credenciadas</h3>
	
	<center>
		<h2>Relação de Médicos e Dentistas</h2>
	</center>
	
	
	
	
	<div id="dentistas">
		
		<center>
			<h3>Dentistas</h3>
		</center>
	
		<div>Dr<sup>a</sup>. Cláudia M. de A. Gonçalves (Clínica Geral)</div>
		<div>Dr. Marcelo Rodrigues Gonçalves (Clínico Geral)</div>
		<div>R: José Bonifácio, 653 - Centro, Tel: 3384-6406</div>
		
		<br />
		
		<div>Dr<sup>a</sup>. Carolina L. S. Peracini (Clínica Geral)</div>
		<div>R: Sinharinha Frota, 859 – Centro, Tel: 3384-1066</div>
		
		<br />
		
		<div>Dr<sup>a</sup>. Cristina H. C. Marinho (Clínica Geral)</div>
		<div>R: Otone Correa, 2519 – Jd. Bosque, Tel: 3382-2636</div>
		
		<br />
		
		<div>Dr<sup>a</sup>. Danieli dos S. Theodoro (Ortodontista / Clínica Geral)</div>
		<div>R: Sinharinha Frota, 859 – Centro, Tel: 3384-1066</div>
		
		<br />
		
		<div>Dr. Geraldino A. Ferreira (Clínico Geral)</div>
		<div>R: João Pessoa, 1069 – Centro (At.Sáb. Até as 12:00), Tel: 3394-2374</div>
		
		<br />
		
		<div>Dr<sup>a</sup>. Giana B. Aquino(Endodontista / Clinica Geral)</div>
		<div>R: Pedro Perches Aguiar, 513 – Centro (atende aos sábados), Tel: 3384-2874</div>
		
		<br />
		
		<div>Dr<sup>a</sup>. Ligia C. de M. Pinotti (Ortodontista / Clínica Geral)</div>
		<div>R: Durval de Souza , 568 Santa  Rosa, Tel: 3384-5330</div>
		
		<br />
		
		<div>Dr<sup>a</sup>. Lisley Cimara Baptista (Clínica Geral)</div>
		<div>R: Marina Gangini, 557 – Jd. Cambuhy, Tel: 3382-5570</div>
		
		<br />
		
		<div>Dr<sup>a</sup>. Maria I. S. Victuri (Periodontista / Clínica Geral)</div>
		<div>Rua Toledo Malta, 540 –  Centro, Tel: 3382-2891</div>
		
		<br />

		<div>Dr<sup>a</sup>.  Marina T. Comelli (Clínica Geral)</div>
		<div>R: Durval de Souza , 568 Santa  Rosa, Tel: 3384-5330</div>
		
		<br />

		<div>Dr. Peterson Joviliano (Ortodontista / Clínico Geral)</div>
		<div>av. Sete de Setembro, 531 – Centro, Tel: 3384-7294</div>
		
		<br />

		<div>Dr<sup>a</sup>. Thalita Maria Mancini (Clínica Geral)</div>
		<div>R: João Pessoa, 781 – Centro, Tel: 3382-1407</div>
		
		<br />

		<div>Dr. Marcelo F. Biagioni (Clínico Geral)</div>
		<div>R. Alameda Da Saudade, 405 – Vila Pereira, Tel: 3382-5299</div>
		
		<br />
		
		<div>Dr<sup>a</sup>. Patricia A. K. D. Da Silva (Endodontia/Clínica Geral)</div>
		<div>Av: Sete De Setembro, 1376 – Centro, Tel: 3382-6982</div> 		            
	</div>
	
	<br />
	
	
	<div id="medicos">
		<center>
			<h3>Médicos</h3>
		</center>
		
		<h4>CARDIOLOGIA</h4>
		
		<div>Dr. Athur Augusto R. Ferreira</div>
		<div>Av: XV de novembro, 1329 – Nova Matão, Tel: 3382-9141</div>
		
		<br />
		
		<div>Dr. Ariany de Souza L. Alvarez</div>
		<div>Av: Sete de Setembro, 568 – Centro, Tel: 3382-3388</div>
		
		<h4>DERMATOLOGISTA</h4>
		
		<div>Drª. Giedre Zuppani Ballista</div>
		<div>AV: 28 de Agosto, 1277 B – Centro, Tel: 3384-1906</div>

		<h4>GASTROENTEROLOGIA</h4>
		
		<div>Dr. João Guimarães – Consulta</div>
		<div>Av: 07 de setembro, 568 – Centro , Tel: ..3382-3388</div>

		<h4>GINECOLOGIA/ OBSTETRICIA</h4>
		
		<div>Dr. Edson de Oliveira Borges</div>
		<div>R: Venina Chiachio Arroyo, 944  Nova Matão, Tel: 3382-9834</div>
		
		<br />

		<div>Drª. Fernanda Aurélia Rossatto</div>
		<div>R: João Pessoa, 1705 – Santa Cruz, Tel: 3384-3779</div>
		
		<br />

		<div>Dr. Hisasi Massuda</div>
		<div>R: Pedro Perchez de Aguiar, 562 – Centro, Tel: 3382-2005</div>
		
		<br />

		<div>Dr. Júlio César Moraes</div>
		<div>R: Venina Chiachio Arroyo, 944, Nova Matão, Tel: 3382-9834</div>
		
		<br />

		<div>Dr. Celso T. Assumpção Neto</div>
		<div>Av. Tiradentes, 440 – Centro , Tel: 3382-5074</div>

		<h4>NEUROLOGISTA</h4>
		
		<div>Dr. Lee Fu Fen – Consulta</div>
		<div>AV. 28 De Agosto, 981 – Centro , Tel: 3382-2901</div>

		<h4>NUTRICIONISTA</h4>
		
		<div>Dr<sup>a</sup>. Jucineia Cicogna –</div>
		<div>R: Vicente Mastropietro, 915 – Nova Matão, Tel: 3384-6858</div>

		<h4>OFTALMOLOGISTA</h4>
		
		<div>Dr. Luiz F. Pinottidiv>
		<div>Av: Daniel Antonio De Brito, 200 – Nova Matão, Tel: 3384-3154</div>

		<h4>ORTOPEDISTA</h4>
		
		<div>Dr. Rodinaldo Antonio Victuri</div>
		<div>Dr. Ronaldo Luiz Victuri </div>
		<div>R: João Pessoa, 1705 – Santa Cruz, Tel: 3384-9999</div>

		<h4>PEDIATRIA / PUERICULTURA</h4>
		
		<div>Dr. Carlos Amorim Garcia</div>
		<div>R: Venina Chiachio Arroyo, 944 – Nova Matão, Tel: 3384-5431</div>
		
		<br />

		<div>Dr. Luiz Amorim Rossi</div>
		<div>R: José Bonifácio, 844 – Centro , Tel: 3382-2888</div>

		<h4>PSICÓLOGA</h4>
		<div>Dr. Carmem Lucia P. Baldan</div>	
		<div>R: Vicente Mastropietro, 915 – Nova Matão, Tel: 3384-6858</div>

		<h4>VASCULAR</h4>
		<div>Dr. Javier  M. Gomes  Campos</div>
		<div>R: Jose Bonifácio, 856 – Centro, Tel: 3384-1939</div>

	</div>
	<div id="labs">
		<center>
			<h3>Laboratórios</h3>
		</center>
		<h4>DOC – DOCUMENTAÇÃO ODONTOLÓGICA</h4>
		<div>Documentação Ortodôntica</div>
		<div>Av. 28 de Agosto, 2079 A - Bairro Alto, Tel: 3382-6565</div>
		
		<h4>LABORATÓRIO DE ANÁLISES CLÍNICAS ANALISA</h4>
		<div>R. Cesário Motta 1101 - Centro</div>

		<h4>LABORATÓRIO DE ANÁLISES CLÍNICAS SÃO CAMILO</h4>
		<div>R: Pedro Perchez de Aguiar, 583, Tel: 3382-2610</div>
		
		<h4>LABORATÓRIO DE ANÁLISES CLÍNICAS SÃO FRANCISCO</h4>
		<div>R: Sinharinha Frotta, 969, Tel: 3382-1043</div>
		
		<h4>HOSPITAL CARLOS FRANCISCO MALZONI</h4>
		<div>Av. Sinharinha Frota, 556 – Centro, Tel: 3383-2500</div>

		<h4>IMA – INSTITUTO MÉDICO ARARAQUARENSE</h4>
		<div>Rua Carlos Gomes, nº1580 - Centro - Araraquara- SP</div>		
	</div>
{% endblock %}