{% extends 'index.html' %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	{% block tituloPagina %}Sobre a B.O.M - {% endblock %} 
{% block conteudo %}

<h3>Sobre a B.O.M</h3>

<div id="sobre">
	<p>É com enorme satisfação que temos a oportunidade de apresentar-lhes
	nosso plano de benefícios odontológico e medico: Com uma proposta
	inovadora no mercado atual, nosso plano de benefícios prevê pronto
	atendimento e é dirigido a todos que, sem possuírem plano odontológico e
	de saúde, nem de recursos para o pronto atendimento particular,
	necessitam urgentemente de um B O M atendimento na área da saúde. </p>
	
	<p>Nossa empresa pretende formalizar parcerias com empresas de vários segmentos
	comerciais e particulares onde, diante da disponibilização gratuita do
	nosso plano de benefícios, sem custo algum com
	mensalidades/trimestralidades/anuidades, oferece um rol de capacitados
	profissionais da área odontológica e médica, os quais oferecerão seus
	serviços mediante o pagamento, face tabela de preços, dos procedimentos
	contratados, de acordo com as necessidades dos usuários.</p>
	
	<p>A empresa que
	disponibilizar nosso plano de benefícios aos seus funcionários, não terá
	ônus financeiro algum, senão, tão somente, conforme o caso, a
	responsabilidade de creditar em folha de pagamento os tratamentos e
	procedimentos contratados de seus funcionários.</p>
	
	<p>Nossa empresa, por sua
	vez, de todo procedimento contratado, reterá uma taxa administrativa de
	tudo que for arrecadado pelo usuário do plano de benefícios, e o
	restante do valor total da consulta e demais procedimentos previamente
	acordados, o cliente pagará diretamente no consultório a cada consulta
	efetivada, de maneira simples, rápida e transparente, afinal tudo que é
	simples e prático é <strong>B O M</strong>. Tendo em vista que contamos com a parceria de
	uma financeira pronta a atender os usuários que não possuem condições de
	pagar seu tratamento a vista, e mediante aprovação de crédito emprestam
	o montante necessário com juros razoáveis.</p>
	
	<p>Portanto, nossa garantia baseia-se no modelo descomplicado e de pronto atendimento, 
	sem carências de espécie alguma, nem pesadas mensalidades, baseadas na idade dos
	usuários.</p>
	
	<p><strong>B O M</strong> é simples, é rápido e ainda, melhor, pois, diante de
	preços justos, praticados, em vários procedimentos, com valores acima do
	que o mercado atual paga aos profissionais da saúde, pretende como meta
	maior, a plena satisfação entre o consumidor final e o prestador de
	serviço da área da saúde.</p>
	
	<p>Vossas senhorias, juntamente conosco nesta
	parceria, poderá ofertar um plano de benefícios odontológico e médico
	totalmente diferenciado e de baixíssimo custo, com ótimos resultados aos
	usuários, já confirmados em outros estados e até em outros países, sendo
	certo que, ao final, o resultado será sempre <strong>B O M</strong>.</p>
</div>
{% endblock %}
